<style>
    .footer {
        background-color: #f6f4f1;
        /* margin-bottom: 80px; */
    }

    .footerContent {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        gap: 10.5rem;
        margin-bottom: 80px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .content h3 {
        color: #382315;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .content ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
    }

    .footerLinks a {
        text-decoration: none;
        font-size: 20px;
        color: #755339;
        font-weight: 700;
    }

    .footerIcons {
        background-color: burlywood;
    }

    .footerIconsContent {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        gap: 25rem;
        /* margin-bottom: 80px; */
    }

    .footerLogo {
        object-fit: cover;
        /* border-radius: 100px */
    }

    .footerLogo img {
        border-radius: 100px;
    }

    .icons {
        display: flex;
        gap: 10rem;
    }

    .icons a {
        font-size: 30px;
        color: #382315;
        text-decoration: none;
        font-weight: 700;
    }

    .borderLine {
        width: 1200px;
        height: 2px;
        background-color: #755339;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 1011px) {
        .footer {
            width: 1200px;
        }
    }
</style>

<footer class="footer">
    <div class="footerContent">
        <div class="content">
            <h3>Information</h3>
            <ul>
                <li class="footerLinks"><a href="/Designer/about">About Us</a></li>
                <li class="footerLinks"><a href="#">Payment Options</a></li>
                <li class="footerLinks"><a href="#">Track your order</a></li>
                <li class="footerLinks"><a href="#">Find a Store</a></li>
                <!-- <li class="footerLinks"><a href="#">Lorem, ipsum dolor.</a></li> -->
            </ul>
        </div>

        <div class="content">
            <h3>Privacy Policiy</h3>
            <ul>
                <li class="footerLinks"><a href="#">For seller</a></li>
                <li class="footerLinks"><a href="#">For Desigmers</a></li>
                <li class="footerLinks"><a href="#">Terms & Conditions</a></li>
                <li class="footerLinks"><a href="#">Help</a></li>
                <!-- <li class="footerLinks"><a href="#">Lorem, ipsum dolor.</a></li> -->
            </ul>
        </div>

        <div class="content">
            <h3>Contact Us!</h3>
            <ul>
                <li class="footerLinks"><a href="#">Write to us!</a></li>
                <li class="footerLinks"><a href="#">+91 9999998877</a></li>
                <li class="footerLinks"><a href="#">swarnkarjewels@gmail.com</a></li>
                <li class="footerLinks"><a href="#">Say Hii on instagram!</a></li>
                <!-- <li class="footerLinks"><a href="#">Lorem, ipsum dolor.</a></li> -->
            </ul>
        </div>
    </div>

    <div class="footerIcons">
        <div class="footerIconsContent">
            <div class="footerLogo">
                <img src="https://logoground.com/uploads10/dv10y20221251562022-02-213962029Crown-Jewelry.jpg" alt=""
                    height="70px" width="70px">
            </div>

            <div class="icons">
                <a href="#"><i class="fa-solid fa-envelope"></i></a>

                <a href="#"><i class="fa-solid fa-phone"></i></a>

                <div class="footerButton">
                    <a href="#">JOIN US!</a>
                </div>
            </div>
        </div>
    </div>
</footer>