<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="/stylesheets/SignIn.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="form-box">
            <h1>
                Sign In
            </h1>
            <% if (error_msg && error_msg.length > 0) { %>
                <div class="alert alert-danger">
                    <%= error_msg %>
                </div>
            <% } else { %>
                <div></div>
            <% } %>
                    <form action="/Signin" method="post">
                        <div class="input-group">
                            <div class="input-field">
                                <i class="ri-file-user-fill"></i>
                                <input type="text" placeholder="Name" name="name">

                            </div>
                            <div class="input-field">
                                <i class="ri-mail-fill"></i>
                                <input type="email" placeholder="Email" name="email">

                            </div>
                            <div class="input-field">
                                <i class="ri-lock-2-fill"></i>
                                <input type="password" placeholder="Password" name="password">

                            </div>




                        </div>

                        <div class="btn-field">
                            <a href="/Signup"><button type="button" id="signupBtn">Sign Up</button></a>
                            <button type="submit" id="signinBtn" value="Register" class="disable">Sign In</button>
                        </div>
                    </form>
        </div>

    </div>

</body>
<script>
    setTimeout(function () {
        var errorMsg = document.querySelector('.alert-danger');
        if (errorMsg) {
            errorMsg.remove();
        }
    }, 5000); // Adjust the time (in milliseconds) as needed, e.g., 5000 for 5 seconds
</script>

</html>