@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: max(1200px, 100vw);
    height: 70px;
    background-color: rgba(158, 103, 54);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
    border-radius: 100%;
}

.searchbar {
    display: flex;
    background-color: white;
    width: 45vw;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 0px 10px;
    overflow: hidden;
}

.searchbar input {
    flex-grow: 1;
    border: none;
}

.searchbar input:focus {
    outline: none;
    border-color: transparent;
}

.searchbar input::placeholder {
    font-family: "Nunito Sans", sans-serif;
}

.voicesearch {
    background-color: white;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.search-button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
}

.gsc-control-cse {
    border: none !important;
    width: 45vw;
    height: 40px;
    /* border-radius: 57px; */
    padding: 0px 10px;
    overflow: hidden;
    background-color: rgba(158, 103, 54) !important;
}

.gsc-control-cse,
.gsc-control-cse-en {
    border: none;
}

.gsc-input {
    width: 45vw;
    border: none;
}

.gsc-control-cse .gsc-input-box {
    border: none;
    border-radius: 8px;
    height: 36px;
}

.gsc-control-cse .gsc-input {
    font-size: 20px;
}

.gsc-control-cse .gsc-search-button-v2 {
    padding: 6px 6px;
    width: 40px;
    height: 37px;
    vertical-align: middle;
    /* border: 1px solid #923c99; */
    border: none;
    border-radius: 30px;
}




#suggestions {
    top: 14.2%;
    left: 230px;
    width: 40%;
    gap: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    position: fixed;
    z-index: 999;
    flex-direction: column;
}

.suggestions {
    padding: 10px;
    cursor: pointer;
}

.suggestions:hover {
    background-color: #f5f5f5;
}

.suggestions:focus {
    z-index: 10;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgb(92, 55, 92);
    padding: 15px;
}

.flex {
    display: flex;
    list-style-type: none;
}

.link-wrapper {
    font-size: 14px;
    margin-top: 5px;
}

.list:hover {
    transition: transform 0.1s ease;
    transform: scale(1.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hamm {
    display: none;
}

.box1 {
    width: 1130px;
    height: auto;
    padding: 10px;
    margin: 20px auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.ul {
    display: flex;
    /* justify-content: center; */
}

.ul li {
    list-style-type: none;
}

.ul li a {
    text-decoration: none;
    color: black;
    font-family: "Nunito Sans", sans-serif;
}

.ul li a:hover {
    color: rgb(92, 55, 92);
}

.box1 h1 {
    margin-top: 40px;
    font-family: "Nunito Sans", sans-serif;
}

.wishlist {
    width: 100%;
    height: 95vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    border-left: none;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
}

.wlist {
    width: 23%;
    height: 100%;
    /* border: 1px solid black; */
    border-left: none;
}

.box2 {
    /* border: 1px solid black; */
    width: 80%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.lst {
    list-style-type: none;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.lst a {
    text-decoration: none;
    color: black;
    font-family: "Nunito Sans", sans-serif;
}

.lst:hover {
    background-color: azure;
}

.box2 h1 {
    position: relative;
    top: -30px;
    font-size: 20px;
}

.wbox {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    transform: translateY(-32px);
}

.wimg {
    width: 45%;
    height: 100%;
    /* border: 1px solid black; */
    object-fit: contain;
    background-image: url(/Assets/noWish.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.empty h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    transform: translateY(-25px);
}

.empty button {
    background-color: rgba(158, 103, 54);
    width: 200px;
    height: 40px;
}

.empty button a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ccc;
    border: none;
}

.footer {
    background-color: #f6f4f1;
    margin-top: 80px;
    /* margin-bottom: 80px; */
}

.footerContent {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    gap: 10.5rem;
    margin-bottom: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.content h3 {
    color: #382315;
    font-size: 1.5rem;
    font-weight: 700;
}

.content ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.footerLinks a {
    text-decoration: none;
    font-size: 20px;
    color: #755339;
    font-weight: 700;
}

.footerIcons {
    background-color: rgba(158, 103, 54);
}

.footerIconsContent {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    gap: 25rem;
    /* margin-bottom: 80px; */
}

.footerLogo {
    object-fit: cover;
}

.icons {
    display: flex;
    gap: 10rem;
}

.icons a {
    font-size: 30px;
    color: #382315;
    text-decoration: none;
    font-weight: 700;
}

.borderLine {
    width: 1200px;
    height: 2px;
    background-color: #755339;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}





@media screen and (max-width: 1011px) {
    .navbar {
        max-width: 1200px;
        margin: 0 auto;
        /* Center the navbar horizontally */
        display: flex;
        justify-content: center;
        height: 100px;
        overflow: initial;
    }


    .logo {
        display: flex;
        position: relative;
        left: 45px;
        top: -16px;
    }

    .medialogo {
        position: relative;
        top: 28px;
        left: -49px;
    }

    .medialogo img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 5px;
    }

    .name {
        position: relative;
        left: 52px;
        top: -12px;
    }

    .searchbar {
        width: 100vw;
        /* align-self: flex-end; */
        margin: auto;
    }

    .searchbar input {
        flex-grow: 1;
    }

    .nav-links {
        position: absolute;
        left: -100%;
        top: 100%;
        width: 100%;
        background-color: white;
        padding-block: 20px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .hamm {
        display: flex;
        justify-content: end;
        margin-right: 10px;
        position: relative;
        top: -2px;
        left: 2px;
    }

    .gsc-input {
        width: 900px;
        border: none;
    }


    .card8 {
        width: 95%;
    }

    .doubts {
        width: 1200px;
    }

    .footer {
        width: 1200px;
    }
}